ion-tab-bar.overview-tabs {
  background-color: var(--layout-header-background);

  ion-tab-button {
    --background: var(--layout-header-background);
    --color: var(--layout-tab-color);
    --color-selected: var(--layout-tab-selected-color);

    &:not(.tab-selected) {
      ion-icon {
        color: var(--layout-tab-color);
      }
    }

    ion-label {
    }
  }
}
