<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="overview-tabs" mode="md">
      <ion-tab-button tab="overview" selected="true">
        <ion-icon ios="stats-chart" md="stats-chart-sharp"></ion-icon>
        <ion-label>Overview</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="loans">
        <ion-icon ios="documents" md="documents-sharp"></ion-icon>
        <ion-label>My Loans</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="payment-plans">
        <ion-icon ios="cash" md="cash-sharp"></ion-icon>
        <ion-label>My Plans</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
