<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="overview-tabs" mode="md">
      <ion-tab-button tab="overview" selected="true">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label>Overview</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="loans">
        <ion-icon name="document-outline"></ion-icon>
        <ion-label>My Loans</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="payment-plans">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>My Plans</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
