<ion-content>
  <div *ngIf="loading; else content">
    <div style="display: flex; align-items: center; justify-content: center; height: 50vh;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>
  <ng-template #content>
    <ion-card *ngIf="!loans.length; else analytics">
      <ion-card-header>
        <ion-card-title> Getting Started! </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Welcome to the Repayment.dev Loan Calculator. To get started add your loans under "My Loans".</p>
        <hr style="margin: 17px 0px; background-color: white;" />

        <p>
          Next create a new Payment Plan under "My Plans" that fits your current budget. Create as many plans as you want and easily switch between them to view
          how it affects the repayment dashboard
        </p>
      </ion-card-content>
    </ion-card>
    <ng-template #analytics>
      <div class="analyticCards">
        <div class="col">
          <ion-card>
            <div class="top">
              <div class="metaWrap">
                <div class="title">Payoff Date</div>
                <div class="total">{{currentPlan.finalPayment}}</div>
              </div>
            </div>
            <div class="content">
              <div class="contentFixed">
                <span>{{daysleft}} days left</span>
              </div>
            </div>
            <div class="footer">
              <div><span>No Plan: </span><span>{{minPlan.finalPayment}}</span></div>
            </div>
          </ion-card>
        </div>

        <div class="col">
          <ion-card>
            <div class="top">
              <div class="metaWrap">
                <div class="title">Total Balance</div>
                <div class="total">{{currentPlan.total}}</div>
              </div>
            </div>
            <div class="footer">
              <div><span>No Plan: </span><span>{{minPlan.total}}</span></div>
            </div>
          </ion-card>
        </div>
        <div class="col">
          <ion-card>
            <div class="top">
              <div class="metaWrap">
                <div class="title">Principal</div>
                <div class="total">{{currentPlan.principal}}</div>
              </div>
            </div>
            <div class="footer">
              <div><span>No Plan: </span><span>{{minPlan.principal}}</span></div>
            </div>
          </ion-card>
        </div>
        <div class="col">
          <ion-card>
            <div class="top">
              <div class="metaWrap">
                <div class="title">Accured Interest</div>
                <div class="total">{{currentPlan.interest}}</div>
              </div>
            </div>
            <div class="footer">
              <div><span>No Plan: </span><span>{{minPlan.interest}}</span></div>
            </div>
          </ion-card>
        </div>
      </div>
    </ng-template>
  </ng-template>
</ion-content>
