ion-content {
  --background: var(--component-background);
  --padding-top: 0px;
  --padding-start: 24px;
  --padding-end: 24px;
}

.wrapper {
  background-color: var(--component-background);
  max-width: 328px;
  margin: auto;
}

.meta-action-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 14px;

  .check-box-remember {
    display: flex;
    align-items: center;
    color: var(--text-color);
    ion-checkbox {
      margin-right: 6px;
    }
  }
}

.login-row {
  display: flex;
  flex-direction: column;
  a {
    align-self: flex-end;
    font-size: 14px;
  }
}

.alternative-methods {
  margin-top: 24px;
  .divider {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin: 2px 0 24px;
    color: var(--text-color);
  }

  ion-button {
    border: 1px solid #d9d9d9;
    margin-bottom: 12px;
    text-transform: initial;

    --background: #304863;
    --border-color: #d9d9d9;
    --border-radius: 2px;

    text-align: left;
    margin-bottom: 12px;

    ion-icon,
    ion-spinner {
      position: absolute;
      left: 0px;
    }

    span {
    }
  }
}
