<ion-content>
  <div class="wrapper">
    <ion-input placeholder="Username"> </ion-input>
    <ion-input placeholder="Password"> </ion-input>
    <ion-input placeholder="Confirm Password"> </ion-input>
    <ion-input placeholder="Email"> </ion-input>

    <div class="form-row">
      <ion-input placeholder="First Name"> </ion-input>
      <ion-input placeholder="Last Name"> </ion-input>
    </div>

    <div class="meta-action-row">
      <ion-button expand="full">Register</ion-button>
      <a routerLink="/unauth/sign-in" routerDirection="back"><ion-text color="secondary">Already have an account?</ion-text></a>
    </div>
  </div>
</ion-content>
