ion-content {
  --background: var(--component-background);
  --padding-top: 0px;
  --padding-start: 24px;
  --padding-end: 24px;
  overflow: hidden;
}

.wrapper {
  background-color: var(--component-background);
  max-width: 328px;
  margin: auto;
}

.form-group {
  margin-bottom: 28px;

  &.has-error {
    margin-bottom: 12px;
  }
}

ion-input {
  display: inline-flex;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -ms-inline-flexbox;

  --background: var(--component-background);
  --color: var(--text-color);
  --padding-start: 12px;

  &.has-focus {
    border-color: #ff87b3;
    border-right-width: 1px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(252, 92, 156, 0.2);
    box-shadow: 0 0 0 2px rgba(252, 92, 156, 0.2);
  }

  ion-icon {
    margin-left: 6px;
  }
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  ion-input {
    &:first-of-type {
      margin-right: 10px;
    }
  }
}

.meta-action-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 14px;

  ion-button {
    height: 40px;
    width: 50%;
  }
}

.strength {
  &-none {
    --progress-background: var(--ion-color-danger);
  }
  &-poor {
    --progress-background: var(--ion-color-danger);
  }
  &-ok {
    --progress-background: var(--ion-color-warning);
  }
  &-pass {
    --progress-background: var(--ion-color-success);
  }
}

ion-icon {
  position: absolute;
  right: 10px;

  &[name="checkmark-outline"] {
    color: var(--ion-color-success);
  }

  &[name="close-outline"] {
    color: var(--ion-color-danger);
  }
}

.error {
  color: #ff4d4f;
  font-size: 12px;
}
